.divServicesCM {
  display: flex;
  flex-direction: column;
  padding: 40px 67px;
}

.yoComoComunityHagoEsto {
  text-align: left;
  padding: 0 40px 40px;
  font-size: 24px;
  font-family: "Quattrocento Sans", sans-serif;
}

.martuServices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.spanLeft {
  width: 35px;
  height: auto;
}

.firstServiceWrapper {
  display: flex;
  flex-direction: row;
}

.spanRight {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 482px;
  margin-left: 55px;
  padding-bottom: 15px;
}

.planSocialMedia {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.gestionRedesSociales {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.asesoramientosPersonalizados {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.spanTitulo {
  font-weight: 900;
  margin-bottom: 3px;
  font-size: 22px;
}
.spanExplanation {
  font-size: 18px;
  font-weight: 700;
  font-family: "Quattrocento Sans", sans-serif;
}

.hyperLinkPlanning {
  color: black;
}

@media (max-width: 425px) {
  .yoComoComunityHagoEsto {
    text-align: left;
    padding: 0 0 40px;
    font-size: 21px;
  }
  .spanTitulo {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 18px;
  }
  .spanExplanation {
    font-size: 16px;
  }
  .spanRight {
    width: 321px;
    margin-left: 28px;
    padding-bottom: 15px;
  }

  .spanLeft {
    width: 28px;
    height: auto;
  }
  .divServicesCM {
    margin: 40px 0;
  }
}

@media (max-width: 375px) {
  .yoComoComunityHagoEsto {
    padding: 0 0 40px;
  }
  .spanRight {
    width: 288px;
    margin-left: 28px;
    padding-bottom: 15px;
  }
  .divServicesCM {
    margin: 20px 0px;
  }
}

@media (max-width: 320px) {
  .spanRight {
    width: 244px;
    margin-left: 28px;
    padding-bottom: 15px;
  }
  .divServicesCM {
    margin: 20px 0;
  }
}
