.clientsDiv {
  background-color: #faac94;
}

.titleMisClientes {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 36px;
  width: 100%;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.hexagonImg {
  height: 220px;
  width: 250px;
}

.divImg {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 24px;
  padding-bottom: 80px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 220px;
  width: 250px;
  transition: transform 0.5s ease;
}

.container:hover {
  transform: scale(1.1);
}

.container1 {
  margin-top: 30px;
}

.container2 {
  margin: 120px 80px 0 80px;
}

.container3 {
  margin-top: 30px;
}

.clientName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.logoClientes {
  height: 100px;
  width: 100px;
}

.logoKarina {
  height: auto;
  width: 100px;
}

@media (max-width: 922px) {
  .hexagonImg {
    height: 187px;
    width: 214px;
  }
  .container {
    height: 220px;
    width: 250px;
  }
  .container1 {
    margin-top: 30px;
  }

  .container2 {
    margin: 120px 50px 0 50px;
  }

  .container3 {
    margin-top: 30px;
  }
  .logoClientes {
    height: 100px;
    width: 100px;
  }
  .container {
    height: 187px;
    width: 214px;
  }
}

@media (max-width: 733px) {
  .hexagonImg {
    height: 167px;
    width: 192px;
  }
  .container {
    height: 220px;
    width: 250px;
  }
  .container1 {
    margin-top: 30px;
  }

  .container2 {
    margin: 120px 9px 0 9px;
  }

  .container3 {
    margin-top: 30px;
  }
  .logoClientes {
    height: 90px;
    width: 90px;
  }
  .container {
    height: 167px;
    width: 192px;
  }
  .logoKarina {
    height: auto;
    width: 90px;
  }
}

@media (max-width: 627px) {
  .hexagonImg {
    height: 140px;
    width: 160px;
  }
  .container {
    height: 220px;
    width: 250px;
  }
  .container1 {
    margin-top: 30px;
  }

  .container2 {
    margin: 120px 0 0 0;
  }

  .container3 {
    margin-top: 30px;
  }
  .logoClientes {
    height: 75px;
    width: 75px;
  }
  .container {
    height: 140px;
    width: 160px;
  }
  .logoKarina {
    height: auto;
    width: 80px;
  }
}

@media (max-width: 501px) {
  .hexagonImg {
    height: 140px;
    width: 160px;
  }
  .container {
    height: 220px;
    width: 250px;
  }
  .container1 {
    margin-top: 30px;
  }

  .container2 {
    margin: 30px 0 0 0;
  }

  .container3 {
    margin-top: 30px;
  }
  .logoClientes {
    height: 75px;
    width: 75px;
  }
  .container {
    height: 140px;
    width: 160px;
  }
  .logoKarina {
    height: auto;
    width: 80px;
  }
  .divImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 80px;
  }
}
