.instagramPhotosWrapper {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.photosOneByOne {
  display: flex;
  justify-content: center;
  flex: 0 0 26%;
  object-fit: cover;
}
.photoInstagram {
  height: 220px;
  width: auto;
  object-fit: cover;
  padding: 9px;
  background-color: #faac94;
  margin-bottom: 36px;
  margin-left: 5px;
  border-radius: 24px;
  transition: transform 0.5s ease;
}

.photoInstagram:hover {
  transform: rotate(5deg);
}

.bitacoraYoguiInstagram {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.wrapperTitleAPI {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 34px;
  padding-top: 80px;
  padding-bottom: 44px;
}

.instagramLogoSectionAPI {
  padding-top: 3px;
}

.horizontalLines {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .photoInstagram {
    display: block;
    height: 220px;
    width: 220px;
    object-fit: cover;
  }
  .secondHR {
    display: none;
  }
}
